<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This site was created for learn node.js.It uses data from mapbox.com and weatherstack.com</p>
        {{>footer}}
    </body>
</html>