<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <h6>{{title}}</h6>
        {{>footer}}
    </body>
</html>